<div align="center">
  <h1>Menu</h1>
</div>

<div class="container" align="center">
  <div class="btn-group" role="group">
    <%= link_to 'All', menu_path, class: 'btn btn-secondary-outline' %>
    <% @sections.each do |section| %>
        <%= link_to section, menu_path(section: section), class: "btn btn-primary#{section_btn_class(section)}" %>
    <% end %>
  </div>
</div>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownSortBy" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sort by
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <%= link_to "Name", menu_path(:sort_param => "name", :section => params[:section]), class: "dropdown-item" %>
    <%= link_to "Price (low to high)", menu_path(:sort_param => "price ASC", :section => params[:section]), class: "dropdown-item" %>
    <%= link_to "Price (high to low)", menu_path(:sort_param => "price DESC", :section => params[:section]), class: "dropdown-item" %>
    <%= link_to "Most viewed", menu_path(:sort_param => "view_counter DESC", :section => params[:section]), class: "dropdown-item" %>
  </div>
</div>


<br>
<br>
<% @food_items.in_groups_of(3) do |group| %>
    <div class="row">
      <% group.compact.each do |food_item| %>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title"> <%= food_item.name.mb_chars.upcase %> </h4>
                <%= link_to '(show details)', food_item, class: "card-title" %>
              </div>
              <%= image_tag food_item.default_image_url, alt: 'the image url does not exist' %>
              <div class="card-block">
                <p class="card-text"> <%= number_to_currency(food_item.price, locale: :vn) %></p>
                <%= link_to 'Order now!', new_food_item_order_path(food_item.id), class: "btn btn-primary btn-sm" %>
                <br>
              </div>
              <div class="card-footer text-muted">
                <%= "Popularity: #{food_item.view_counter}" %><br>
                <%= food_item.orders.size %> order(s) have been made so far.
              </div>
            </div>
          </div>
      <% end %>
    </div>
<% end %>